{% comment %}
  The contents of the page.banner.liquid template can be found in /sections/page-banner-template.liquid
{% endcomment %}

<div id="stamped-rewards-widget" data-widget-type="rewards-summary" ></div>

<div id="stamped-rewards-widget" data-widget-type="rewards-how-it-works" ></div>

<div id="stamped-rewards-widget" data-widget-type="rewards-earnings-v2" ></div>

<div id="stamped-rewards-widget" data-widget-type="rewards-spendings-v2" ></div>

<div id="stamped-rewards-widget" data-widget-type="rewards-referral" ></div>